//function - differ text and other elments
$exclude: $text-type-map;
@function not-chain($list) {
    $output: '';
    @each $selector in $list {
        $output: $output + ':not(#{$selector})';
    }
    @return $output;
}

//mixin
@mixin box-shadow($size, $color: $dark) {
    $shad-map: map-get($shadow-size-map, $size);
    $shad-y: map-get($shad-map, y);
    $shad-blur: map-get($shad-map, blur);
    $shad-opacity: map-get($shad-map, opacity);
    box-shadow: 0px #{$shad-y} #{$shad-blur} rgba($color, $shad-opacity);
}

@mixin text-shadow($size, $color: $dark) {
    $shad-map: map-get($shadow-size-map, $size);
    $shad-y: map-get($shad-map, y);
    $shad-blur: map-get($shad-map, blur);
    $shad-opacity: map-get($shad-map, opacity);
    text-shadow: 0px #{$shad-y} #{$shad-blur} rgba($color, $shad-opacity);
}

//classes
@each $name, $color in $color-map {
    .bg-#{$name}, .background-#{$name} {
        background-color: $color;
    }
    .text-#{$name}, .fc-#{$name} {
        color: $color;
    }
    .border-#{$name}, .bc-#{$name} {
        border-color: $color;
    }
    .shadow-#{$name} {
        box-shadow: 0px 2px 8px rgba($color, 0.5);
    }
    @each $shad-name, $size in $shadow-size-map {
        @each $type in $text-type-map {
            #{$type}.shadow-#{$shad-name}-#{$name} {
                @include text-shadow($shad-name, $color)
            }
        }
        .shadow-#{$shad-name}-#{$name}#{not-chain($exclude)} {
            @include box-shadow($shad-name, $color);
        }
    }
}

@each $name, $size in $shadow-size-map {
    @each $type in $text-type-map {
        #{$type}.shadow-#{$name} {
            @include text-shadow($name, $dark);
        }
    }
    .shadow-#{$name}#{not-chain($exclude)} {
        @include box-shadow($name, $dark);
    }
}