//color map

$color-map: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    success: $success,
    danger: $danger,
    warning: $warning,
    neutral: $neutral,
    light: $light,
    dark: $dark,
    white: $white,
    black: $black
);

//shadow sizes

$shadow-size-map: (
    xl: (y: 8px, blur: 32px, opacity: 0.85),
    lg: (y: 6px, blur: 24px, opacity: 0.75),
    md: (y: 4px, blur: 16px, opacity: 0.5),
    sm: (y: 2px, blur: 8px, opacity: 0.35),
    xs: (y: 1px, blur: 2px, opacity: 0.15)
);

$text-type-map: (
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span,
    ul,
    li
);

@function not-chain($list) {
    $output: '';
    @each $selector in $list {
        $output: $output + ':not(#{$selector})';
    }
    @return $output;
}

$exclude: $text-type-map;

@each $name, $size in $shadow-size-map {
    @each $type in $text-type-map {
        #{$type}.shadow-#{$name} {
            $shad-y: map-get($map: $size, $key: y);
            $shad-blur: map-get($map: $size, $key: blur);
            $shad-opacity: map-get($map: $size, $key: opacity);
            text-shadow: 0px #{$shad-y} #{$shad-blur} rgba($dark, $shad-opacity);
        }
    }
    .shadow-#{$name}#{not-chain($exclude)} {
        $shad-y: map-get($map: $size, $key: y);
        $shad-blur: map-get($map: $size, $key: blur);
        $shad-opacity: map-get($map: $size, $key: opacity);
        box-shadow: 0px #{$shad-y} #{$shad-blur} rgba($dark, $shad-opacity);
    }
}


@each $name, $color in $color-map {
    .bg-#{$name} {
        background-color: $color;
    }
    .text-#{$name}, .fc-#{$name} {
        color: $color;
    }
    .border-#{$name} {
        border-color: $color;
    }
    .shadow-#{$name} {
        box-shadow: 0px 2px 8px rgba($color, 0.5);
    }
    @each $shad-name, $size in $shadow-size-map {
        @each $type in $text-type-map {
            #{$type}.shadow-#{$shad-name}-#{$name} {
                $shad-y: map-get($map: $size, $key: y);
                $shad-blur: map-get($map: $size, $key: blur);
                $shad-opacity: map-get($map: $size, $key: opacity);
                text-shadow: 0px #{$shad-y} #{$shad-blur} rgba($color, $shad-opacity);
            }
        }
        .shadow-#{$shad-name}-#{$name}#{not-chain($exclude)} {
            $shad-y: map-get($map: $size, $key: y);
            $shad-blur: map-get($map: $size, $key: blur);
            $shad-opacity: map-get($map: $size, $key: opacity);
            box-shadow: 0px #{$shad-y} #{$shad-blur} rgba($color, $shad-opacity);
        }
    }
}