//font family (ff)
//mixin
@mixin font-family($value) {
    $font-family: map-get($map: $font-family-map, $key: $value);
    font-family: #{$font-family};
}
//class
@each $name, $family in $font-family-map {
    .ff-#{$name}, .font-family-#{$name} {
        @include font-family($name);
    }
}

//font weight (fw)
//mixin
@mixin font-weight($value) {
    $font-weight: map-get($map: $font-weight-map, $key: $value);
    font-weight: $font-weight;
}
//class
@each $name, $weight in $font-weight-map {
    .fw-#{$name}, .font-weight-#{$name} {
        @include font-weight($name);
    }
}

//font size (fs) | line height (lh)
//mixin
@mixin font-size($value) {
    $font-size: map-get($map: $font-size-map, $key: $value);
    font-size: #{$font-size};
}
@mixin line-height($value) {
    $line-height: map-get($map: $font-size-map, $key: $value);
    line-height: #{$line-height};
}
//class
@each $name, $size in $font-size-map {
    .fs-#{$name}, .font-size-#{$name} {
        @include font-size($name);
    }
    .lh-#{$name}, .line-height-#{$name} {
        @include line-height($name);
    }
}