<div style="display: flex; flex-flow: column; gap: 8px;">
    <h1 class="fs-2 ff-header fw-5 text-primary shadow-sm-primary-5">color-<span class="text-dark bg-primary" style="border-radius: 4px; padding: 0 4px 2px">primary</span></h1>
    <div style="display: flex; gap: 8px">
        <div class="shadow-primary-1 bg-primary-1" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-2 bg-primary-2" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-3 bg-primary-3" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-4 bg-primary-4" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-5 bg-primary-5" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-6 bg-primary-6" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-7 bg-primary-7" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-8 bg-primary-8" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-9 bg-primary-9" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-primary-10 bg-primary-10" style="width: 32px; height: 32px; border-radius: 4px;"></div>
    </div>
</div>
<div style="display: flex; flex-flow: column; gap: 8px;">
    <h1 class="fs-2 ff-header fw-5 text-secondary shadow-sm-secondary-5">color-<span class="text-dark bg-secondary" style="border-radius: 4px; padding: 0 4px 2px">secondary</span></h1>
    <div style="display: flex; gap: 8px">
        <div class="shadow-secondary-1 bg-secondary-1" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-2 bg-secondary-2" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-3 bg-secondary-3" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-4 bg-secondary-4" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-5 bg-secondary-5" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-6 bg-secondary-6" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-7 bg-secondary-7" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-8 bg-secondary-8" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-9 bg-secondary-9" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-secondary-10 bg-secondary-10" style="width: 32px; height: 32px; border-radius: 4px;"></div>
    </div>
</div>
<div style="display: flex; flex-flow: column; gap: 8px;">
    <h1 class="fs-2 ff-header fw-5 text-tertiary-6 shadow-sm-tertiary-6">color-<span class="text-dark bg-tertiary-6" style="border-radius: 4px; padding: 0 4px 2px">tertiary</span></h1>
    <div style="display: flex; gap: 8px">
        <div class="shadow-tertiary-1 bg-tertiary-1" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-2 bg-tertiary-2" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-3 bg-tertiary-3" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-4 bg-tertiary-4" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-5 bg-tertiary-5" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-6 bg-tertiary-6" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-7 bg-tertiary-7" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-8 bg-tertiary-8" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-9 bg-tertiary-9" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-tertiary-10 bg-tertiary-10" style="width: 32px; height: 32px; border-radius: 4px;"></div>
    </div>
</div>
<div style="display: flex; flex-flow: column; gap: 8px;">
    <h1 class="fs-2 ff-header fw-5 text-success-7 shadow-sm-success-7">color-<span class="text-dark bg-success-7" style="border-radius: 4px; padding: 0 4px 2px">success</span></h1>
    <div style="display: flex; gap: 8px">
        <div class="shadow-success-1 bg-success-1" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-2 bg-success-2" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-3 bg-success-3" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-4 bg-success-4" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-5 bg-success-5" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-6 bg-success-6" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-7 bg-success-7" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-8 bg-success-8" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-9 bg-success-9" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-success-10 bg-success-10" style="width: 32px; height: 32px; border-radius: 4px;"></div>
    </div>
</div>
<div style="display: flex; flex-flow: column; gap: 8px;">
    <h1 class="fs-2 ff-header fw-5 text-warning shadow-sm-warning">color-<span class="text-dark bg-warning" style="border-radius: 4px; padding: 0 4px 2px">warning</span></h1>
    <div style="display: flex; gap: 8px">
        <div class="shadow-warning-1 bg-warning-1" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-2 bg-warning-2" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-3 bg-warning-3" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-4 bg-warning-4" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-5 bg-warning-5" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-6 bg-warning-6" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-7 bg-warning-7" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-8 bg-warning-8" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-9 bg-warning-9" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-warning-10 bg-warning-10" style="width: 32px; height: 32px; border-radius: 4px;"></div>
    </div>
</div>
<div style="display: flex; flex-flow: column; gap: 8px;">
    <h1 class="fs-2 ff-header fw-5 text-danger shadow-sm-danger">color-<span class="text-dark bg-danger" style="border-radius: 4px; padding: 0 4px 2px">danger</span></h1>
    <div style="display: flex; gap: 8px">
        <div class="shadow-danger-1 bg-danger-1" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-2 bg-danger-2" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-3 bg-danger-3" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-4 bg-danger-4" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-5 bg-danger-5" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-6 bg-danger-6" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-7 bg-danger-7" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-8 bg-danger-8" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-9 bg-danger-9" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-danger-10 bg-danger-10" style="width: 32px; height: 32px; border-radius: 4px;"></div>
    </div>
</div>
<div style="display: flex; flex-flow: column; gap: 8px;">
    <h1 class="fs-2 ff-header fw-5 text-neutral shadow-sm-neutral">color-<span class="text-dark bg-neutral" style="border-radius: 4px; padding: 0 4px 2px">neutral</span></h1>
    <div style="display: flex; gap: 8px">
        <div class="shadow-neutral-1 bg-neutral-1" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-2 bg-neutral-2" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-3 bg-neutral-3" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-4 bg-neutral-4" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-5 bg-neutral-5" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-6 bg-neutral-6" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-7 bg-neutral-7" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-8 bg-neutral-8" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-9 bg-neutral-9" style="width: 32px; height: 32px; border-radius: 4px;"></div>
        <div class="shadow-neutral-10 bg-neutral-10" style="width: 32px; height: 32px; border-radius: 4px;"></div>
    </div>
</div>
<div style="display: flex; justify-content: space-between; width: 100%;">
    <div style="display: flex; flex-flow: column; gap: 16px; padding: 16px; flex-grow: 1;">
        <div style="display: flex; flex-flow: column; gap: 8px;">
            <h1 class="fs-2 ff-header fw-5 text-light shadow-sm-light">color-<span class="text-dark bg-light" style="border-radius: 4px; padding: 0 4px 2px">light</span></h1>
            <div style="display: flex; gap: 8px">
                <div class="shadow-light bg-light" style="width: 32px; height: 32px; border-radius: 4px;"></div>
            </div>
        </div>
        <div style="display: flex; flex-flow: column; gap: 8px;">
            <h1 class="fs-2 ff-header fw-5 text-white shadow-sm-white">color-<span class="text-dark bg-white" style="border-radius: 4px; padding: 0 4px 2px">white</span></h1>
            <div style="display: flex; gap: 8px">
                <div class="shadow-white bg-white" style="width: 32px; height: 32px; border-radius: 4px;"></div>
            </div>
        </div>
    </div>
    <div class="bg-light" style="display: flex; flex-flow: column; gap: 16px; border-radius: 8px; padding: 16px; flex-grow: 1; align-items: end;">
        <div style="display: flex; flex-flow: column; gap: 8px; align-items: end;">
            <h1 class="fs-2 ff-header fw-5 text-dark shadow-sm-dark">color-<span class="text-light bg-dark" style="border-radius: 4px; padding: 0 4px 2px">dark</span></h1>
            <div style="display: flex; gap: 8px">
                <div class="shadow-dark bg-dark" style="width: 32px; height: 32px; border-radius: 4px;"></div>
            </div>
        </div>
        <div style="display: flex; flex-flow: column; gap: 8px; align-items: end;">
            <h1 class="fs-2 ff-header fw-5 text-black shadow-sm-black">color-<span class="text-light bg-black" style="border-radius: 4px; padding: 0 4px 2px">black</span></h1>
            <div style="display: flex; gap: 8px">
                <div class="shadow-black bg-black" style="width: 32px; height: 32px; border-radius: 4px;"></div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>